{% extends 'base.html.twig' %}

{% block body %}
    <h2>Detail of a TV Show</h2>
    <section>
        <div class="serie-details">

            <div>
                <img src="{{ asset('img/posters/series/'~serie.poster) }}" alt="{{ serie.name }}">

            </div>

            <div class="serie-details-infos">
                <h3>{{ serie.name }}</h3>
                <div>User ratings : {{ serie.vote }}</div>
                <div>Categorizes in : {{ serie.genres }}</div>
                <div>Serie status : {{ serie.status }}</div>
                <div>Aired from : {{ serie.firstAirDate|date }} to {{ serie.lastAirDate|date }}</div>
                <div>{{ serie.overview|nl2br }}</div>
                <div class="container-fluid d-flex">
                     <a class="link_button btn btn-outline-warning" href="{{ path('serie_update', {'id': serie.id}) }}"
                   role="button">Modify the serie</a>
                    <a class="link_button btn btn-outline-warning" href="{{ path('season_add', {'id': serie.id}) }}"
                   role="button">Add a season</a>
                    <a class="link_button btn btn-danger" href="{{ path('serie_delete', {'id': serie.id}) }}"
                       role="button" onclick="return confirm('Are you sure to delete {{ serie.name }}')">Delete the serie</a>
                </div>
                <div class="container-fluid d-flex">
                    <button value="1" class="like_btn link_button btn btn-outline-success">Like</button>
                    <button value="0" class="like_btn link_button btn btn-outline-secondary">Dislike</button>

                </div>
                <div><span id="nbLike">{{ serie.nbLike }}</span> Likes</div>

            </div>
        </div>
    </section>
    <section class="seasons">
        <h3>Seasons</h3>

        {% for season in serie.seasons %}

            <article>
                <img src="{{ asset('img/posters/seasons/'~season.poster) }}"
                     alt="{{ serie.name }} #{{ season.number }}">
                <div>
                    <h4>#{{ season.number }}</h4>
                    <div>Aired from {{ season.firstAirDate| date('Y-m-d') }}</div>
                    <div>{{ season.overview }}</div>
                </div>


            </article>
        {% endfor %}


    </section>

{% endblock %}

{% block tiltle %}
    {{ parent() }} | Show
{% endblock %}

{% block extraStyle %}

    <style>

        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("{{ asset('img/backdrops/'~serie.backdrop) }}");


        }

    </style>

{% endblock %}

{% block extraJs %}

    <script>

        let buttons = Array.from(document.getElementsByClassName('like_btn'))
        buttons.forEach(function(button){
            button.addEventListener("click", function(){

                let val = {'value' : this.value }

                fetch("{{ path('api_series_update_one', {'id' : serie.id}) }}",
                    { method :'PUT', body : JSON.stringify(val) })
                    // then me permet de lancer une callback au retour de ma requête
                    // j'extraie ici le corps de ma requête, à savoir le JSON
                    .then((response) => response.json())
                    // le second then récupère le json en paramêtre afin d'en faire le traitement
                    .then((data)=>

                    document.getElementById('nbLike').innerText = data.nbLike);

            })


        })





    </script>
{% endblock %}